<div class="weaponDetail detail">
  <p class="val">Val: <%= selected.val %></p>
  <p class="weight">Weight: <%= selected.weight %></p>
  <p class="con">Con: <%= selected.condition %></p>
  <p class="dam">Dam: <%= selected.dam %></p>
</div>
