<label for="damage">Damage:</label> <input type="number" id="damage"
name="damage" min="1" max="999" required placeholder="1 - 999" <%- typeof
dataItem != "undefined" && "value=" %> <%= typeof dataItem != "undefined" &&
dataItem.dam %> />
