<label for="effects">Effects:</label>
<input type="text" id="effects" name="effects" maxlength="25" required
placeholder="Ex: Charisma + 5" <%- typeof dataItem != "undefined" && "value=" %>
"<%= typeof dataItem != "undefined" && dataItem.effects %>" />
