<label for="name">Name:</label>
<input type="text" id="name" name="name" required placeholder="Name of the item"
maxlength="30" <%- typeof dataItem != "undefined" && "value=" %> "<%= typeof
dataItem != "undefined" && dataItem.name %>" />
