<label for="Val">Val:</label>
<input type="number" id="val" name="val" min="1" max="9999" required
placeholder="1 - 9999" <%- typeof dataItem != "undefined" && "value=" %> <%=
typeof dataItem != "undefined" && dataItem.val %> />
